/* #Color9 Styles
================================================== */

#footer { border-top:5px solid #03acdc; }
#headline2 { background-color:#03acdc; }
.dark.bluebox, .l1-s1, h4.tit4blg span { background:#03acdc; }
