/* #Color8 Styles
================================================== */

#footer { border-top:5px solid #0aad80; }
#headline2 { background-color:#0aad80; }
#top-head { border-bottom:4px solid #fbfbfb; background:#f8f8f8; }
#nav a { border-top-color:#fbfbfb; }
#hero { border-top:4px solid #eef7ee; border-bottom:4px solid #eef7ee; }
.dark.bluebox, .l1-s1, h4.tit4blg span { background:#0aad80; }
ul#main-port li { background-color:#e4f0e5;}
ul#main-port li:nth-child(even) { background-color:#f0f6f1;}
ul#main-port li.active9 { background:#fbfbfb; border-bottom-color:#ffcc00; }
.jcarousel-next, .jcarousel-prev { background-color:#9bc69d;  }
.jcarousel-next-disabled, .jcarousel-next-disabled:hover,
.jcarousel-prev-disabled, .jcarousel-prev-disabled:hover {	background-color: #e5eae5;	cursor: auto; }